:root {
  --text-color: #2E3A57;
  --mint-color: #44BA90;
  --accent-color: #CDE3EF;
}

#__next {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.font_h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 52px;
  color: var(--text-color)
}